Source: libvmod-dynamic
Section: web
Priority: extra
Maintainer: Uplex Varnish <varnish@uplex.de>
Build-Depends: debhelper (>= 7),
 automake,
 autotools-dev,
 libtool,
 build-essential,
 pkg-config,
 python3-docutils,
 varnish (= DPGK_VERSION),
 varnish-dev (= DPGK_VERSION)
Standards-Version: 3.9.6
Vcs-Git: git://github.com/nigoroll/libvmod-dynamic.git
Homepage: https://github.com/nigoroll/libvmod-dynamic

Package: libvmod-dynamic
Architecture: any
Depends: ${Varnish:strictABI}, ${Varnish:ABI}, ${shlibs:Depends}, ${misc:Depends}
Description: The Varnish dns/named director continued
 .
 The purpose of this module is to provide a dynamic director similar to the DNS director from Varnish 3.
