#!/usr/bin/make -f

DH_VERBOSE=1

%:
	dh $@ --without autoreconf

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- --libdir=/usr/lib 

override_dh_auto_install:
	dh_auto_install -a
	find $(CURDIR)/debian/ -name \*.la -delete
